.main a {
  color: var(--point-color);
}
.main a:hover {
  color: var(--point-color-hover);
}

/* ---------------------------- */

.experienceSection {
  margin-top: 1rem;
}

.experienceSection h4 {
  margin: 1.75rem 0 1rem;
  font-size: 20px;
}

.experienceSection h4 div {
  display: inline-block;
}

.experienceSection h4 span {
  margin-left: 0.25rem;
  font-size: 16px;
}

.experienceSection > p {
  margin: 0.4rem 0;
  font-size: 16px;
  line-height: 1.6;
}

.experienceSection > p:nth-of-type(2) > span {
  font-weight: 700;
}

.experienceSection > p:nth-of-type(2) > span::after {
  content: '|';
  margin: 0 0.7rem;
  font-size: 14px;
  vertical-align: top;
}

.experienceSection > ul {
  margin: 1rem 0;
  padding-left: 0.85rem;
  list-style: none;
}

.experienceSection details {
  overflow: visible;
}

.experienceSection details summary {
  margin: 0.35rem 0;
  line-height: 1.65;
  font-weight: 500;
  font-size: 18px;
  color: var(--point-color);
  cursor: pointer;
}

.experienceSection details summary:hover {
  color: var(--point-color-hover);
}

.experienceSection details summary span {
  margin-left: 0.35rem;
  color: var(--color);
}

.experienceSection details ul {
  margin: 0.5rem 0 1rem;
  padding-left: 1.75rem;
  list-style-type: '•';
}

.experienceSection details li {
  margin-bottom: 0.4rem;
  font-size: 16px;
}
.experienceSection details li div {
  margin-left: 0.5rem;
}

.language ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style: none;
}

.language ul span {
  display: inline-block;
  position: relative;
  min-width: 5rem;
  font-weight: 700;
}

.language ul span::after {
  position: absolute;
  right: 0;
  content: '|';
  margin: 0 0.65rem;
  font-size: 14px;
  vertical-align: top;
}

.language ul li {
  margin-bottom: 0.5rem;
  font-size: 16px;
}
