@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.main {
  overflow: auto;
  color: #171a21;
}

.main a {
  color: #2c6e49;
}
.main a:hover {
  color: #4c956c;
}

.contentWrapper {
  max-width: 1024px;
  background: #fbfcff;
  margin: 6vh auto;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial,
    sans-serif;
}

@media (max-width: 1024px) {
  .contentWrapper {
    margin: 0 auto;
  }
}

.titlebar {
  position: relative;
  padding: 5px 0;
  background: linear-gradient(to right, #ebebeb, #d5d5d5);
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-radius: 6px 6px 0 0;
  text-align: center;
  color: #4d494d;
  font-size: 11pt;
  user-select: none;
  cursor: default;
}

.buttonWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  column-gap: 7px;
  padding-left: 12px;
}

.buttonWrapper button {
  width: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.inlineContent {
  display: inline-block;
  vertical-align: top;
  line-height: 14px;
  font-size: 10px;
  min-width: 8px;
}

.buttons:hover a {
  visibility: visible;
}

.close {
  background: #ff6057;
  border: 1px solid #e14640;
}

.buttons .close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.buttons .close:active .closebutton {
  color: #4e0002;
}

.buttons .closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd2e;
  border: 1px solid #dfa123;
}

.buttons .minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #27c93f;
  border: 1px solid #1dad2b;
}

.buttons .zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.buttons .zoom:active .zoombutton {
  color: #003107;
}

.buttons .zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 6rem 9rem 8rem;
}

@media (max-width: 1024px) {
  .content {
    padding: 9vw 10vw 10vw;
  }
}

.content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.content > table:first-of-type {
  margin-top: 2rem;
}

.content h2 {
  margin: 2.5rem 0 1rem -1.3rem;
  font-size: 1.65rem;
}

.content h2::before {
  content: '˙';
  font-size: 2.5rem;
  line-height: 1rem;
  color: #2c6e49;
}

.content h3 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.content p {
  margin: 0.2rem 0;
}

.content ul li ul li::marker {
  content: '・ ';
  color: gray;
}

/* ---------------------------- */

.info {
  min-width: 10rem;
  border-collapse: collapse;
  margin-top: 1.25rem;
  font-size: 14px;
}

.info caption {
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.info tr td[scope='row'] {
  padding-left: 0.45rem;
  min-width: 7.75rem;
  font-weight: bold;
  line-height: 2.5;
}

.info tr td:nth-of-type(2) {
  padding-right: 1.5rem;
}

.info tr {
  border-top: 1px solid #e6e8e6;
}

.info tr:last-of-type {
  border-bottom: 1px solid #e6e8e6;
}

@media (max-width: 375px) {
  .info tr td[scope='row'] {
    min-width: 4rem;
  }
}

@media (max-width: 320px) {
  .info tr,
  .info td {
    display: block;
  }
  .info tr td[scope='row'] {
    line-height: 2.3;
  }
  .info tr td:nth-of-type(2) {
    padding: 0 0 0 0.45rem;
    line-height: 2.3;
  }
}

/* ---------------------------- */

.experienceSection {
  margin-top: 1rem;
}

.experienceSection h4 {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.experienceSection h4 span {
  margin-left: 0.25rem;
  font-size: 14px;
}

.experienceSection > p {
  font-size: 14px;
}

.experienceSection > p:nth-of-type(2) > span {
  font-weight: 700;
}

.experienceSection > p:nth-of-type(2) > span::after {
  content: '|';
  margin: 0 0.65rem;
  font-size: 12px;
  vertical-align: top;
}

.experienceSection > ul {
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style: none;
}

.experienceSection details {
  overflow: auto;
}

.experienceSection details summary::before {
  content: '▸';
  margin-right: 0.7rem;
  font-size: 16px;
  line-height: 1;
  color: #2c6e49;
}

.experienceSection details summary:hover::before {
  color: #4c956c;
}

.experienceSection details summary {
  margin: 0.35rem 0 0.25rem;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  list-style: none;
}

.experienceSection details ul {
  padding-left: 2.25rem;
}
.experienceSection details li {
  margin-bottom: 0.1rem;
  font-size: 14px;
}

.language ul {
  margin: 0.5rem 0;
  padding: 0;
  list-style: none;
}

.language ul span {
  display: inline-block;
  position: relative;
  min-width: 5rem;
  font-weight: 700;
}

.language ul span::after {
  position: absolute;
  right: 0;
  content: '|';
  margin: 0 0.65rem;
  font-size: 12px;
  vertical-align: top;
}

.language ul li {
  margin-bottom: 0.5rem;
  font-size: 14px;
}
